[access "refs/*"]
	owner = group user/m-iancu (m-iancu)
[access "refs/for/refs/*"]
	read = group user/m-iancu (m-iancu)
	push = group user/m-iancu (m-iancu)
	label-Code-Review = -2..+2 group user/m-iancu (m-iancu)
	label-Verified = -1..+1 group user/m-iancu (m-iancu)
	rebase = group user/m-iancu (m-iancu)
	removeReviewer = group user/m-iancu (m-iancu)
	submit = group user/m-iancu (m-iancu)
[access "refs/heads/*"]
	read = group user/m-iancu (m-iancu)
	create = group user/m-iancu (m-iancu)
	push = +force group user/m-iancu (m-iancu)
	pushMerge = group user/m-iancu (m-iancu)
[access "refs/tags/*"]
	push = +force group user/m-iancu (m-iancu)
	pushTag = group user/m-iancu (m-iancu)
	pushSignedTag = group user/m-iancu (m-iancu)
